#drone
{
height: 300px;
width: 300px;
position:relative;
left:650px;
top: 300px;
}
h1{
    position: relative;
    left:550px;
}
#name{
    position: relative;
    top:250px;
    left:700px;
    font-weight: bold;
    font-size: larger;
}
#sum
{
    font-size: x-large;
    position: relative;
    bottom: 300px;
}
#intro
{
    font-size: x-large;
    position: relative;
    top: 50px;
}


   